<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Admin | Crowdgezwitscher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="panel panel-default login-panel">
            <div class="panel-heading text-center">
                <h4>Login</h4>
            </div>

            <ul class="list-group">
                 {% if form.errors %}
                <li class="list-group-item text-center error">Your username and password didn't match. Please try again.</li>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <li class="list-group-item text-center warning">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</li>
                    {% else %}
                    <li class="list-group-item text-center warning">Please login to see this page.</li>
                    {% endif %}
                {% endif %}
            </ul>

            <div class="panel-body">
                <form method="post" class="form-login" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="username" placeholder="{{ form.username.label }}" value="{{ form.username.value | default:'' }}" required />
                    <input type="password" class="form-control" name="password" placeholder="{{ form.password.label }}" value="{{ form.password.value | default:'' }}" required />
                    <input type="submit" class="btn btn-lg btn-default btn-block" value="Einloggen" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </body>
</html>
