{% extends "admin.html" %}

{% block content %}

<h1>{{ blog.title }}</h1>

<div class="row">
    <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label" > Inhalt </label>
        <div style="border-style:solid;padding:5px;">
            {{blog.content|safe}}
        </div>
    </div>
</div>


<div class="row">
    <div class="fieldWrapper col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label class="control-label" > Status </label>
        {{ blog.status}}
    </div>
    <div class="fieldWrapper col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label class="control-label" > Erstellungsdatum </label>
        {{ blog.created_on}}
    </div>
    <div class="fieldWrapper col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label class="control-label" > Author </label>
        {{ blog.created_by}}
    </div>
</div>


{% if perms.facebook.view_facebookpage %}
<div class="row">
    <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label" > Facebook Seiten </label>
        <ul>
            {% for page in blog.facebook_pages.all %}
                <li><a href="{% url 'facebook:detail' page.id %}">{{ page.name }}</a></li>
            {% empty %}
                <li>Keine Facebook-Seiten verknüpft</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if perms.events.view_event %}
<div class="row">
    <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label" > Veranstaltungen </label>
        <ul>
            {% for event in blog.events.all %}
                <li><a href="{% url 'events:detail' event.id %}">{{ event.name }}</a></li>
            {% empty %}
                <li>Keine Veranstaltungen verknüpft</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if perms.blogs.change_blogentry %}
    <a class="btn btn-primary" href="{% url 'blogs:update' blog.id %}">Bearbeiten</a>
{% endif %}

{% if perms.blogs.view_blogentry %}
    <a class="btn btn-link" href="{% url 'blogs:list' %}">Zurück</a>
{% endif %}

{% endblock %}
