{% extends "admin.html" %}

{% block content %}

<h1>Blogeinträge</h1>
{% if blogs %}
<table class="table table-striped">
    <tr>
        <th>Titel</th>
        <th style="width: 170px;"></th>
    </tr>
    {% for blog in blogs %}
    <tr>
        <td>
            {% if perms.blogs.view_blogentry %}
                <a href="{% url 'blogs:detail' blog.id %}">{{ blog.title }}</a>
            {% else %}
                {{ blog.title }}
            {% endif %}
        </td>
        <td>
            {% if perms.blogs.change_blogentry %}
                <a class="btn btn-default btn-sm" href="{% url 'blogs:update' blog.id %}">Bearbeiten</a>
            {% endif %}
            {% if perms.blogs.delete_blogentry %}
                <a class="btn btn-default btn-sm" href="{% url 'blogs:delete' blog.id %}">Löschen</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Keine Blogeinträge verfügbar.</p>
{% endif %}

{% if perms.blogs.add_blogentry %}
    <a class="btn btn-primary" href="{% url 'blogs:create' %}">Blogeintrag anlegen</a>
{% endif %}

{% endblock %}
