{% extends 'base.html' %}
{% load staticfiles %}

{% block header_extension %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<style type="text/css">
    #map-wrapper, #map-canvas {
        width: 100%;
        height: 100%;
    }
    #twitter-feed {
        position: fixed;
        width: 350px;
        top: 50px;
        height: calc(100% - 50px);
        left: 16px;
        padding-top: 16px;
    }
</style>
{% endblock %}

{% block content %}
<div id="map-wrapper" ng-controller="MapCtrl">
    <div id="map-canvas"></div>
    <div id="twitter-feed">
        <div class="panel panel-default" ng-repeat="tweet in tweets">
            <div class="panel-heading">{a tweet.author a}</div>
            <div class="panel-body">{a tweet.text a}</div>
        </div>
    </div>
</div>
{% endblock %}
