$sg-yellow: #ffd044;
$sg-pink: #c80180;
$sg-blue: #538eb8;

.sg-yellow {
  background-color: $sg-yellow;
}

.sg-pink {
  background-color: $sg-pink;
}

.sg-blue {
  background-color: $sg-blue;
}

.text-sg-yellow {
    color: $sg-yellow;
}

.text-sg-pink {
    color: $sg-pink;
}

.text-sg-blue {
    color: $sg-blue;
}
