<div class="container">
	<h1>Kontaktformular</h1>
	<div id="contact-error-message" *ngIf="contactErrorMessage">
        <div id="contact-inner-error-message" class="error-message alert alert-danger">
            <button type="button" class="close" (click)="clearError()">&times;</button>
            {{contactErrorMessage}}
        </div>
	</div>
	<form (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
		<div class="form-group">
		<label for="name"> Name: </label>
		<input type="text" maxlength="50" name="name" class="form-control" [(ngModel)]="contact.name">
		</div>

		<div class="form-group">
		<label for=""> Email: </label>
		<input name="email" type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="contact.email">
		</div>

		<div class="form-group">
		<label for=""> Betreff: </label>
		<input type="text" name="subject" class="form-control" required [(ngModel)]="contact.subject">
		</div>

		<div class="form-group">
		<label for=""> Nachricht: </label>
		<textarea name="message" cols="40" rows="10" class="form-control" required [(ngModel)]="contact.message"></textarea>
		</div>

		<div class="form-group">
		<label for=""> Journalist: </label>
		<input type="checkbox" name="journalist" class="form-control" [(ngModel)]="contact.journalist">
		</div>

		<div class="form-group">
		<label for=""> Vertraulich: </label>
		<input type="checkbox" name="confidential" class="form-control" [(ngModel)]="contact.confidential">
		</div>

		<div class="form-group">
		<label for=""> Anhang: </label>
		<input name="file" type="file" multiple maxlength="50" class="form-control"  (change)="onFileChange($event)">
		</div>

		<button type="submit" class="btn btn-default" [disabled]="!contactForm.form.valid">Submit</button>
	</form>
</div>