/*.ng-valid {
  border-left: 5px solid #42a948;
}

.ng-invalid {
  border-left: 5px solid #a94442;
}*/

.contact-error-message {
  white-space: pre-line;
}


textarea.materialize-textarea {
  color: inherit;
  font: inherit;
  margin: 0;
    overflow: auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;

    width: 100%;
  height: 2rem;
  background-color: transparent;

    overflow-y: hidden;
  /* prevents scroll bar flash */
  padding: .8rem 0 1.6rem 0;
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 2rem;

}

textarea.materialize-textarea:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #26a69a;
}

textarea.materialize-textarea.validate + label {
  width: 100%;
  pointer-events: none;
}

textarea.materialize-textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 60px;
  opacity: 0;
  transition: .2s opacity ease-out, .2s color ease-out;
}


.input-field {
  position: relative;
  margin-top: 1rem;
}

.input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-out;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */
}
