<div class="container">
	<h1>Kontaktformular</h1>
	<div id="contact-error-message" *ngIf="contactErrorMessage">
        <div id="contact-inner-error-message" class="error-message alert alert-danger contact-error-message">
            <button type="button" class="close" (click)="clearError()">&times;</button>
            {{contactErrorMessage}}
        </div>
	</div>
	<div id="contact-success-message" *ngIf="contactSuccessMessage">
        <div id="contact-inner-success-message" class="alert alert-success">
            {{contactSuccessMessage}}
        </div>
	</div>
	<form id="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
		<div class="form-group">
			<label for="name"> Name: </label>
			<input id ="contact-name" type="text" maxlength="50" name="name" class="form-control" [(ngModel)]="contact.name" placeholder="Optional">
		</div>

		<div class="form-group">
			<label for="email"> Email: </label>
			<input id ="contact-email" name="email" type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="contact.email" placeholder="Optional">
		</div>

		<div class="form-group">
			<label for="subject"> Betreff: </label>
			<input id ="contact-subject" type="text" name="subject" class="form-control" required [(ngModel)]="contact.subject" placeholder="Pflichtfeld">
		</div>

		<div class="form-group">
			<label for="message"> Nachricht: </label>
			<textarea id="contact-message" name="message" cols="40" rows="10" class="form-control" required [(ngModel)]="contact.message" placeholder="Pflichtfeld"></textarea>
		</div>

		<div class="form-group">
			<input id="contact-journalist" type="checkbox" name="journalist" [(ngModel)]="contact.journalist">
			<label for="journalist"> Sind Sie Journalist? </label>
		</div>

		<div class="form-group">
			<input id="contact-confidential" type="checkbox" name="confidential" [(ngModel)]="contact.confidential">
			<label for="confidential"> Nachricht besonders vertraulich zu behandeln? </label>
			<span class="glyphicon glyphicon-question-sign" tooltip="Durch das Setzen dieses Häckchens, wird ihre Nachricht nur an einen ausgewählten internen Kreis übermittelt." tooltipPlacement="right"></span>
		</div>

		<div class="form-group">
			<label for="file"> Anhang: </label>
			<input id="contact-file" name="file" type="file" multiple maxlength="50" [class]="filesValid ? 'form-control ng-valid' : 'form-control ng-invalid' " #fileInput (change)="onFileChange($event)">
		</div>

		<button id="contact-submit-button" type="submit" class="btn btn-default" [disabled]="!(contactForm.form.valid && filesValid)">Submit</button>
	</form>
</div>