<div class="container">
	<h1>Kontakt</h1>
	<div id="contact-error-message" *ngIf="contactErrorMessage">
		<div id="contact-inner-error-message" class="error-message alert alert-danger contact-error-message">
			<button type="button" class="close" (click)="clearError()">&times;</button>
			{{contactErrorMessage}}
		</div>
	</div>
	<div id="contact-success-message" *ngIf="contactSuccessMessage">
		<div id="contact-inner-success-message" class="alert alert-success">
			{{contactSuccessMessage}}
		</div>
	</div>
	<form id="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
		<div class="row">
			<div class="input-field col s6">
				<input id ="contact-name" type="text" maxlength="50" name="name" class="validate" [(ngModel)]="contact.name">
				<label for="name">Name (Optional)</label>
			</div>

			<div class="input-field col s6">
				<input id ="contact-email" name="email" type="email" class="validate" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="contact.email">
				<label for="email">Email (Optional)</label>
			</div>

			<div class="input-field col s12">
				<input id ="contact-subject" type="text" name="subject" class="validate" required [(ngModel)]="contact.subject">
				<label for="subject">Betreff</label>
			</div>

			<div class="input-field col s12">
				<textarea id="contact-message" name="message" class="materialize-textarea" required [(ngModel)]="contact.message"></textarea>
				<label for="message">Nachricht</label>
			</div>

			<div class="col s6">
				<div class="row">
					<div class="input-field col s12">
						<input id="contact-journalist" type="checkbox" name="journalist" [(ngModel)]="contact.journalist">
						<label for="contact-journalist">Sind Sie Journalist?</label>
					</div>
					<div class="input-field col s12">
						<input id="contact-confidential" type="checkbox" name="confidential" [(ngModel)]="contact.confidential">
						<label for="contact-confidential" data-position="right" data-delay="50" data-tooltip="I am tooltip">Nachricht besonders vertraulich behandeln?</label>

						<span class="glyphicon glyphicon-question-sign" tooltip="Durch das Setzen dieses Häckchens wird Ihre Nachricht nur an einen ausgewählten internen Kreis übermittelt." tooltipPlacement="right"></span>
					</div>
				</div>
			</div>

			<div class="file-field input-field col s6">
				<div class="btn">
					<span>Anhang</span>
					<input type="file" multiple>
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text" placeholder="Eine oder mehrere Datein anfügen">
				</div>
			</div>

			<div class="col s12">
				<button id="contact-submit-button" type="submit" class="btn btn-default" [disabled]="!(contactForm.form.valid && filesValid)">Senden</button>
				<span class="glyphicon glyphicon-question-sign" tooltip="Ihre valide Nachricht wird immer verschlüsselt übertragen. Um eine verschlüsselte Antwort zu erhalten fügen Sie bitte der Nachricht Ihren eigenen GPG Public Key im Anhang hinzu." tooltipPlacement="top"></span>
			</div>
		</div>
	</form>
</div>
