$height-navbar: 64px;
$height-navbar-mobile: 56px;

.navbar {
  margin-bottom: 0;
}

.map-wrapper {
  height: calc(100% - #{$height-navbar-mobile});
  width: 100%;
}

.map-canvas {
  height: 100%;
  width: 100%;
}

.map-settings {
  position: absolute;
  right: 10px;
  top: #{$height-navbar + 10px};
  margin: 0;
  z-index: 99;

  .switch + .switch {
    margin-top: 8px;
  }
}

.error-message {
  bottom: 0;
  left: 50%;
  min-width: 200px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
  .map-wrapper {
    height: calc(100% - #{$height-navbar});
  }
}
