<div class="map-wrapper">
    <div class="map-canvas" #mapCanvas></div>
    <div class="map-settings">
        <div class="btn-group" data-toggle="buttons">
            <label *ngFor="let mapObjectSetting of mapObjectSettings" class="btn btn-primary" [ngClass]="{active: mapObjectSetting.active}">
                <input type="checkbox" autocomplete="off" [(ngModel)]="mapObjectSetting.active" (ngModelChange)="onCheckboxChange()"> {{mapObjectSetting.name}}
            </label>
        </div>
    </div>
    <div class="error-message alert alert-danger" role="alert" *ngIf="errorMessage"><strong>{{errorMessage}}</strong></div>
</div>
