$height_navbar: 50px;
$padding_feed: 16px;

.navbar {
    margin-bottom: 0;
}

#map-wrapper {
    width: 100%;
    height: calc(100% - #{$height_navbar});
}

#map-canvas {
    width: 100%;
    height: 100%;
}
