$height-navbar: 50px;

.navbar {
  margin-bottom: 0;
}

.map-wrapper {
  height: calc(100% - #{$height-navbar});
  width: 100%;
}

.map-canvas {
  height: 100%;
  width: 100%;
}

.error-message {
  bottom: 0;
  left: 50%;
  min-width: 200px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
