@import 'base';

.nav-wrapper a.brand-logo {
  background: url(img/cg-logo.svg) no-repeat center;
  height: 100%;
  width: 250px;
  background-size: 100% 70%;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: lighten($sg-blue, 25%);

  &::after {
    background-color: $sg-blue;
  }
}

@media only screen and (min-width: 600px) {
  .nav-wrapper a.brand-logo {
    width: 300px;
    background-size: 100% 75%;
  }
}
