<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white black-text">
            <div class="hide-on-med-and-up">
                <a [routerLink]="['/']" class="brand-logo left "></a>
            </div>
            <div class="hide-on-small-only">
                <a [routerLink]="['/']" class="brand-logo center"></a>
            </div>
            <ul class="right">
                <li><a [routerLink]="['/contact']" class="black-text">Kontakt</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
