#map-wrapper, #map-canvas {
    width: 100%;
    height: 100%;
}

#twitter-feed {
    position: fixed;
    width: 350px;
    top: 50px;
    height: calc(100% - 50px);
    left: 16px;
    padding-top: 16px;
}
