[run]
source = strassengezwitscher/

[report]
omit =
    */migrations/*
    strassengezwitscher/strassengezwitscher/settings.py
    strassengezwitscher/strassengezwitscher/localsettings.py
    strassengezwitscher/strassengezwitscher/wsgi.py
