language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
before_install:
  - npm install -g npm@latest
install:
  - sudo apt-get install -y lcov
  - gem install coveralls-lcov
  - pip install -r requirements.txt
  - pip install coveralls
  - npm install
before_script:
  - gulp build
  - python strassengezwitscher/manage.py migrate
  - python strassengezwitscher/manage.py runserver
script:
  - gulp coverage:python
  - gulp coverage:typescript
  - gulp test:e2e
after_success:
  - coveralls-lcov -v -n ./.report/remap/lcov.info > ./.report/coverage.json
  - coveralls --merge=./.report/coverage.json
  - cd .travis
  - ./deploy.sh
