{% extends "admin.html" %}

{% block content %}

<h1>Nutzer</h1>

{% if users %}
<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            {% if perms.auth.view_user %}
                <a href="{% url 'users:detail' user.id %}">{{ user.username }}</a>
            {% else %}
                {{ user.username }}
            {% endif %}
        </td>
        <td>{{ user.email }}</td>
        <td>
            {% if perms.auth.change_user %}
                <a class="btn btn-default btn-sm" href="{% url 'users:update' user.id %}">Bearbeiten</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Keine Nutzer vorhanden.</p>
{% endif %}

{% if perms.auth.add_user %}
    <a class="btn btn-primary" href="{% url 'users:create' %}">Nutzer anlegen</a>
{% endif %}
{% if perms.auth.view_user %}
    <a class="btn btn-link" href="{% url 'users:list_inactive' %}">Inaktive Nutzer</a>
{% endif %}

{% endblock %}
