{% extends "admin.html" %}

{% block content %}

{% if perms.blog.view_blogentry %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{% url 'blog:list' %}">Blogeinträge</a>
        </h3>
    </div>
    <div class="panel-body">
        Es gibt insgesamt {{ blogentry_count }}
        {% if blogentry_count == 1 %}
            Blogeintrag.
        {% else %}
            Blogeinträge.
        {% endif %}
    </div>
</div>
{% endif %}

{% if perms.facebook.view_facebookpage %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{% url 'facebook:list' %}">Facebook-Seiten</a>
        </h3>
    </div>
    <div class="panel-body">
        Es gibt insgesamt {{ facebook_page_count }}
        {% if facebook_page_count == 1 %}
            Facebook-Seite.
        {% else %}
            Facebook-Seiten.
        {% endif %}
    </div>
</div>
{% endif %}

{% if perms.events.view_event %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{% url 'events:list' %}">Veranstaltungen</a>
        </h3>
    </div>
    <div class="panel-body">
        Es gibt insgesamt {{ event_count }}
        {% if event_count == 1 %}
            Veranstaltung.
        {% else %}
            Veranstaltungen.
        {% endif %}
    </div>
</div>
{% endif %}

{% if perms.auth.view_user %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{% url 'users:list' %}">Nutzer</a>
        </h3>
    </div>
    <div class="panel-body">
        Es gibt insgesamt {{ active_user_count }}
        {% if active_user_count == 1 %}
            aktiven Nutzer
        {% else %}
            aktive Nutzer
        {% endif %}
        und {{ inactive_user_count }}
        {% if inactive_user_count == 1 %}
            inaktiven Nutzer.
        {% else %}
            inaktive Nutzer.
        {% endif %}
    </div>
</div>
{% endif %}

{% if not perms.facebook.view_facebookpage and not perms.events.view_event and not perms.auth.view_user%}
    Du brauchst mehr Berechtigungen.
{% endif %}

{% endblock %}
