<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">

        {% load static %}

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Crowdgezwitscher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static '@angular2-material/core/overlay/overlay.css' %}" rel="stylesheet">

        <link href="{% static 'frontend.css' %}" rel="stylesheet">

        {% if debug %}
        <link href="{% static 'bundle.dev.css' %}" rel="stylesheet">
        {% else %}
        <link href="{% static 'bundle.css' %}" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <cg-app>
            <div class="loading-logo"></div>
        </cg-app>
    </body>

    <script src="https://maps.googleapis.com/maps/api/js?extension=.js&output=embed{{ key_param }}"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>

    {% if debug %}
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="{% static 'core-js/client/shim.min.js' %}"></script>
    <script src="{% static 'zone.js/dist/zone.js' %}"></script>
    <script src="{% static 'reflect-metadata/Reflect.js' %}"></script>
    <script src="{% static 'hammerjs/hammer.js' %}"></script>
    <script src="{% static 'web-animations-js/web-animations.min.js' %}"></script>
    <script src="{% static 'systemjs/dist/system.src.js' %}"></script>

    <!-- 2. Configure SystemJS -->
    <script src="{% static 'systemjs.config.js' %}"></script>
    <script>
        System.import('static/frontend/main').catch(function(err){ console.error(err); });
    </script>
    {% else %}
    <script src="{% static 'dependencies.js' %}"></script>
    <script src="{% static 'bundle.js' %}" defer></script>
    {% endif %}
</html>
