$height-navbar: 64px;
$card-padding: 10px;

.navbar {
  margin-bottom: 0;
}

.map-canvas {
  height: calc(100% - #{$height-navbar});;
  width: 100vw;
}

.map-settings {
  margin: 0;
  padding: 8px 24px;
  position: absolute;
  right: $card-padding;
  top: #{$height-navbar + $card-padding};
  z-index: 99;

  .map-setting md-slide-toggle {
    margin: 8px 0;
  }

  .map-sub-settings {
    overflow: hidden;
    padding-left: 16px;

    .map-sub-setting {
      display: block;
    }

    .md-radio-focused .md-ink-ripple {
      opacity: 0 !important;
    }
  }
}

.map-infos {
  left: $card-padding;
  margin: 0;
  position: absolute;
  top: #{$height-navbar + $card-padding};
  z-index: 99;
  width: 300px;

  & > * {
    display: flex;
    max-height: calc(100vh - #{$height-navbar + 2*$card-padding});
  }
}

.error-message {
  background-color: #f2dede;
  bottom: $card-padding;
  left: 50vw;
  min-width: 200px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
