@import '../colors';

$height-navbar: 64px;
$card-padding: 10px;

.navbar {
  margin-bottom: 0;
}

.map-canvas {
  height: calc(100% - #{$height-navbar});
  width: 100vw;
}

.map-modification-button {
  width: 100%;
}

.map-settings {
  margin: 0;
  padding: 8px 24px;
  position: absolute;
  right: $card-padding;
  top: #{$height-navbar + $card-padding};
  width: 180px;

  .map-setting {
    md-slide-toggle {
      margin: 8px 0;
    }
  }

  .map-sub-settings {
    overflow: hidden;
    padding-left: 16px;

    .map-sub-setting {
      display: block;
    }
  }

  .infoIcon {
    font-size:16px;
    line-height: 24px;
    padding-left: 4px;
  }

  .infoText {
    font-size: 10px;
    overflow: hidden;
    white-space: normal;
  }
}

.map-infos {
  left: $card-padding;
  margin: 0;
  position: absolute;
  top: #{$height-navbar + $card-padding};
  width: 300px;
  z-index: 99;

  > * {
    display: flex;
    max-height: calc(100vh - #{$height-navbar + 2 * $card-padding});
  }
}

.error-message {
  background-color: map-get($message, error);
  bottom: $card-padding;
  left: 50vw;
  min-width: 200px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  white-space: pre-line;
}

.success-message {
  background-color: map-get($message, success);
  bottom: $card-padding;
  left: 50vw;
  min-width: 200px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
