<div class="map-canvas" #mapCanvas></div>
<div class="map-settings">
    <md-card *ngIf="mapState == mapStateEnum.VIEWING">
        <md-card-content>
            <div class="map-setting" *ngFor="let mapObjectSetting of mapObjectSettings">
                <md-slide-toggle [(ngModel)]="mapObjectSetting.visible" (ngModelChange)="onCheckboxChange(mapObjectSetting)">
                    {{mapObjectSetting.name}}
                </md-slide-toggle>
                <div class="map-sub-settings" *ngIf="mapObjectSetting.visible && mapObjectSetting.mapFilterOptions.length > 1" [@slideInOut]="mapObjectSetting.visible">
                    <md-radio-group [(ngModel)]="mapObjectSetting.mapFilter" (ngModelChange)="onRadioChange()">
                        <md-radio-button class="map-sub-setting" *ngFor="let option of mapObjectSetting.mapFilterOptions" [value]="option">
                            {{ option.name }}
                            <md-icon *ngIf="option.infoText" style="font-size:16px; padding-left: 4px; line-height: 24px;" md-tooltip="{{ option.infoText }}" tooltip-position="before">info</md-icon>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card *ngIf="mapState == mapStateEnum.ADDING">
    This should become the child component
    </md-card>
    <md-card>
        <md-card-actions [ngSwitch]= "mapState" >
            <button *ngSwitchCase="mapStateEnum.VIEWING" md-button (click)="addEventState()">Aktivität melden</button>
            <button *ngSwitchCase="mapStateEnum.ADDING" md-button (click)="viewingState()">Abrechen</button>
        </md-card-actions>
    </md-card>
</div>
<div [ngSwitch]= "selectedMapObjectType" class="map-infos" *ngIf="mapState == mapStateEnum.VIEWING">
    <cg-event-detail *ngSwitchCase="0" [id]="selectedMapObject.id" (onError)="setErrorMessage($event)" (onClose)="clearInfoBox()"></cg-event-detail>
    <cg-fb-detail *ngSwitchCase="1" [id]="selectedMapObject.id" (onError)="setErrorMessage($event)" (onClose)="clearInfoBox()"></cg-fb-detail>
</div>
<md-card class="error-message" *ngIf="errorMessage">{{errorMessage}}</md-card>
