<div class="container">
	<div class="row">
		<md-card>
			<md-card-title>Vielen Dank für Ihre Unterstützung</md-card-title>
			<md-card-content>
				<p>
				Straßengezwitscher ist auf Spenden angewiesen, wir sind dankbar für jeden noch so kleinen Betrag. Ein Dauerauftrag hilft uns, langfristig arbeiten zu können. Eure Spende ist steuerlich absetzbar.
				</p>
				<iframe src="https://www.betterplace.org/de/projects/60159-strassengezwitscher-e-v/iframe_donations/new?color=c7017f&background_color=ffffff" frameBorder="0" width="600" height="1000"><strong><a href="https://www.betterplace.org/de/projects/60159-strassengezwitscher-e-v/donations/new">Jetzt Spenden für „Straßengezwitscher e.V.“ bei unserem Partner betterplace.org</a></strong></iframe>
			</md-card-content>
		</md-card>
	</div>
	<div class="row">
		<md-card>
			<md-card-title>Bitcoin</md-card-title>
			<md-card-content>
				<p>
				Ihr könnt uns auch gerne Bitcoins an folgende Adresse senden, wir versuchen sie gewinnbringend einzusetzen!
				</p>		
				<p>
				1MevhGqJXoddnUynh31K4nsJueoKCa6a9L
				</p>
				<p>
				Spenden via Bitcoins sind anonym. Es können hierfür also keine Spendenbescheinigungen ausgestellt werden
				</p>
			</md-card-content>
		</md-card>
	</div>
	<div class="row">
		<md-card>
			<md-card-title>Fördermitgliedschaft</md-card-title>
			<md-card-content>
				<p>
				Fördermitglieder haben eine wichtige Aufgabe - sie stellen sicher, dass Straßengezwitscher e.V. auch in Zukunft immer unabhängig berichten sowie neue Projekte verwirklichen kann. Ein regelmäßiger Beitrag hilft uns dabei langfristig planen zu können und unsere laufenden Kosten zu decken. Fördermitglieder erhalten im Gegenzug in unregelmäßigen Abständen aus erster Hand Updates zu den Aktivitäten des Vereins.
				</p>
				<p>
				Druckt Euch dieses <a href="/static/files/sg-antrag-auf-foerdermitgliedschaft.pdf">Antragsformular</a> aus und sendet es uns unterschrieben per Post zu. Ihr erhaltet anschließend eine Bestätigung per Email.
				</p>		
				<p>
				Das Beitragsjahr beginnt mit dem Eintritt des Mitglieds. Der Beitrag ist jeweils zu Beginn des ausgewählten Zeitraums fällig. Die Zahlung des Beitrags kann per SEPA-Lastschriftmadat oder Überweisung/Dauerauftrag erfolgen.
				</p>
				<p>
					<strong>Straßengezwitscher e.V.</strong>
				</p>
				<p>
					Postfach 10 02 01, 01072 Dresden
				</p>
				<p>
					IBAN: DE84 4306 0967 1188 5502 00, BIC GENODEM1GLS
				</p>
			</md-card-content>
		</md-card>
	</div>
</div>
