<div class="container about-container">
	<div class="row">
		<md-card>
			<md-card-title>Das Projekt</md-card-title>
			<md-card-content>
				<p>
					<b>#crowdgezwitscher</b> ist ein Netzwerk von mobilen Reporterinnen und Reportern, die unter Einhaltung
					von journalistischen Standards über Twitter Liveticker von fremdenfeindlichen Kundgebungen in Sachsen anbieten.
					Dabei wollen wir ausdrücklich auch den Bürgerjournalismus fördern. Die Informationsplattform bietet neben einer
					zuverlässigen Liveberichterstattung auch thematisch verwandte Artikel an und erklärt Zusammenhänge. Somit ist
					#crowdgezwitscher auch für Journalistinnen und Journalisten außerhalb Sachsens eine erste Anlaufstelle für Recherchen
					auf dem Gebiet der rechten Szene.
				</p>
				<p>
					#crowdgezwitscher wird Schritt für Schritt in Betrieb genommen. Informationen zur aktuellen Version und zu
					zukünftigen Features erhalten Sie in unserem Blog.
				</p>
			</md-card-content>
		</md-card>
	</div>
	<div class="row">
		<md-card>
			<md-card-title>Dankeschöns</md-card-title>
			<md-card-content>
				<p>
					<span class="logo-left">
						<a href="https://correctiv.org/">
							<img src="/static/correctiv_logo.svg" />
						</a>
					</span>
					<span>
						#crowdgezwitscher wurde durch Spenden zahlreicher Unterstützer unseres
						<a href="https://www.startnext.com/strassengezwitscher/">Crowdfunding-Projekts</a> beim gemeinnützigen
						Recherchezentrum <a href="https://correctiv.org/">Correctiv.org</a> und
						<a href="https://www.startnext.com/">Startnext</a> ermöglicht. Wir möchten uns bei allen Menschen
						bedanken, die uns auf dem Wege bis hierher mit moralischer und finanzieller Unterstützung begleitet haben.
					</span>
				<p>
				<p>
					Ein persönlicher Dank geht an Oliver von Dobrowolski, Anna-Maria Wagner, Anne Konrad, Jannis Engel,
					Piratenpartei Sachsen, Jürgen Klack, Dietrich Koch, Sven Jansen, Felix Herzog, Trang Dang, Christian Löffler,
					Robin Drexler, Anne Weiß, Johannes Petzoldt, Pamela Vogel, Stefan Herrmann, Dr. Michael Kuhn, Matthias Geukes,
					Steffen Peschel, Johannes Petroschke, Claudia Neumann, Julia Welsch, Robert Morawitz, Klaus Becker und
					Albrecht Häußler.
				</p>
			</md-card-content>
		</md-card>
	</div>

	<div class="row">
		<md-card>
			<md-card-title>Der Verein</md-card-title>
			<md-card-content>
				<span>
					<span class="logo">
						<a href="https://strassengezwitscher.de/">
							<img src="/static/strassengezwitscher_logo.svg" />
						</a>
					</span>
					<p>
						#crowdgezwitscher ist ein Projekt des
						<a href="https://strassengezwitscher.de/">Straßengezwitscher e.V.</a> Der Verein mit Sitz in
						Dresden ist ein gemeinnütziger Verein, der es sich zum Ziel gesetzt hat,
						durch verschiedene Projekte das bürgerliche Engagement für die Demokratie zu fördern. Weitere
						Projekte des Vereins sind:
					</p>
				</span>
				<span class="col2">
					<span class="logo">
						<a href="https://twitter.com/streetcoverage">
							<img class="small" src="/static/streetcoverage_logo.svg" />
						</a>
					</span>
					<p>
						<a href="https://twitter.com/streetcoverage">@streetcoverage.</a> Im März 2015 riefen die beiden Dresdner
						Johannes Filous und Alexej Hock „Straßengezwitscher“
						ins Leben. Der Twitter-Kanal @streetcoverage erregte mit Livetickern von fremdenfeindlichen  Kundgebungen in
						Freital, Heidenau oder Clausnitz viel Aufsehen und stieß zu Hochzeiten  fremdenfeindlicher Proteste notwendige
						Diskurse an. Heute erreicht “Straßengezwitscher” mit Redaktionen in Leipzig und Chemnitz Millionen Menschen.
						Das Projekt wurde mit dem Preis für Zivilcourage (2015) und dem Grimme Online Award 2016 geehrt.
					</p>
				</span>
				<span class="col2">
					<span class="logo">
						<a href="https://strassengezwitscher.de/2gather/">
							<img class="small" src="/static/2gather_logo.svg" />
						</a>
					</span>
					<p>
						<a href="https://strassengezwitscher.de/2gather/">2gather.</a> Ein weiteres Betätigungsfeld des Vereins ist
						die Ausrichtung und Durchführung von Veranstaltungen,
						welche ebenfalls dem gemeinnützigen Vereinszweck der Förderung des demokratischen Staatswesens und des
						bürgerlichen Engagements für die Demokratie entsprechen. Der Kongress „2gather – gegen Rassismus und
						Fremdenfeindlihckeit“ am 8./9. Oktober 2016 im Festspielhaus Hellerau in Dresden setzt dabei einen
						vielversprechenden Anfang.
					</p>
				</span>
			</md-card-content>
		</md-card>
	</div>

	<div class="row">
		<md-card>
			<md-card-title>Die Initiatoren</md-card-title>
			<md-card-content>
				<span class="col2">
					<p>
						<b>Alexej Hock</b> studierte Maschinenbau an der TU Dresden. Nach erfolgreichem Studium wechselte er in den
						journalistischen Bereich und schrieb unter anderem für Correctiv.org, SPIEGEL Online und Die Zeit.
						Nach erfolgreichem Crowdfunding kümmert er sich um die Fertigstellung und Pflege von #crowdgezwitscher.
					</p>
				</span>
				<span class="col2">
					<p>
						<b>Johannes Filous</b> studiert Medizin an der TU Dresden und teilt sich seine Freizeit als Straßenzwitscherer
						und Drummer der Ska-Band Offbeat Cooperative. Er betreut den Hauptaccount @streetcoverage mit über 17 Tsd.
						Followern und ist für die Gesamtkoordination der Berichterstattung aus allen Redaktionen zuständig.
					</p>
				</span>
			</md-card-content>
		</md-card>
	</div>
</div>
