$height-navbar: 64px;
$top-padding: 10px;
$bottom-padding: 226px;

.moc-card {
  white-space: pre-line;
  width: 350px;
}

[hidden] {
	display: none;
}

.map-object-creation {
  display: flex;
  max-height: calc(100vh - #{$height-navbar + $top-padding + $bottom-padding});
  overflow: scroll;
}

.moc-submit-button {
  background-color: #444444;
  color: white;
  margin-top: 8px;
  width: 100%;
}

h3 {
  margin: 0;
  margin-bottom: -16px;
}
