<select placeholder="Kartenobjekt Kategorie" [(ngModel)]="selectedMapObjectType">
	<option *ngFor="let mot of mapObjectTypes" [value]="mot.id">{{mot.name}}</option>
</select>
<form mapObjectCreation #moc="ngForm" class="moc-card">
	<md-input-container>
		<md-input placeholder="Name" type="text" required ngModel name="name"></md-input>
	</md-input-container>
	<md-input-container>
		<md-input placeholder="Breitengrad" type="number" step="any" required [ngModel]="marker.position.Lat" name="locationLat"></md-input>
	</md-input-container>
	<md-input-container>
		<md-input placeholder="Längengrad" type="number" step="any" required [ngModel]="marker.position.Lng" name="locationLong"></md-input>
	</md-input-container>
	<md-input-container>
		<md-input placeholder="Ort" type="text" required ngModel name="location"></md-input>
	</md-input-container>
	<div *ngIf="selectedMapObjectType == mapObjectType.EVENTS">
		<md-input-container>
			<md-input placeholder="Datum und Uhrzeit" type="datetime-local" required ngModel name="date"></md-input>
		</md-input-container>
		<md-input-container>
			<md-input placeholder="Wiederholungszyklus" type="text" ngModel name="repetitionCycle"></md-input>
		</md-input-container>
		<md-input-container>
			<md-input placeholder="Organisator" type="text" ngModel name="organizer"></md-input>
		</md-input-container>
		<md-input-container>
			<md-input placeholder="Veranstaltungsart" type="text" ngModel name="type"></md-input>
		</md-input-container>
		<md-input-container>
			<md-input placeholder="Webseite" type="url" ngModel name="url"></md-input>
		</md-input-container>
		<md-input-container>
			<md-checkbox ngModel name="counterEvent">Gegenveranstaltung?</md-checkbox>
		</md-input-container>
		<md-input-container>
			<md-input placeholder="Teilnehmeranzahl" type="number" min="0" ngModel name="participants"></md-input>
		</md-input-container>
	</div>
	<div *ngIf="selectedMapObjectType == mapObjectType.FACEBOOK_PAGES">

		<md-input-container>
			<md-input placeholder="Notizen" type="text" ngModel name="notes"></md-input>
		</md-input-container>
		<md-input-container>
			<md-input placeholder="Facebook Link" type="url" required ngModel name="facebookId"></md-input>
		</md-input-container>
	</div>
	<div id="contact-recaptcha" class="g-recaptcha" [attr.data-sitekey]="config.dataSitekey" data-callback="verifyCallback"></div>
</form>
<button md-raised-button (click)="send(moc)" [disabled]="!(moc.form.valid && captchaVerified)"> Melden </button>
