// --------------------
// responsive helpers
// source: materialize-css
// --------------------
$small-screen-up: 740px !default;
$medium-screen-up: 1100px !default;
$small-screen: 739px !default;
$medium-screen: 1099px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;
// --------------------
// end: responsive helpers
// --------------------
