@import '../../node_modules/@angular/material/core/theming/all-theme';
@import 'base';
@import 'colors';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

// Begin: FIXES for Angular Material

// Hide focus for radio buttons
.md-radio-ripple {
  display: none;
}

// Remove focus ripple for links with target "_blank"
.unfocusable.md-button-focus {
  .md-button-focus-overlay {
    background-color: transparent;
  }
}

.md-radio-container {
  min-width: 20px;
}

// End: FIXES for Angular Material

$background: map-get($theme, background);

body {
  background-color: map-get($background, app-bar);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

// --------------------
// responsive helpers
// source: materialize-css
// --------------------
.hide-on-small-only,
.hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none;
  }
}

.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none;
  }
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none;
  }
}

.hide-on-med-only {
  @media only screen and (min-width: $small-screen-up) and (max-width: $medium-screen) {
    display: none;
  }
}

.hide-on-large-only {
  @media #{$large-and-up} {
    display: none;
  }
}

.container {
  margin: 8px;
  width: calc(100% - 16px);

  @media #{$medium-and-up} {
    margin: auto;
    width: 600px;
  }

  @media #{$large-and-up} {
    width: 800px;
  }
}
// --------------------
// end: responsive helpers
// --------------------


.toolbar-menu {
  flex-basis: 40px;

  @media #{$medium-and-up} {
    flex-basis: 230px;
  }

  @media #{$large-and-up} {
    flex-basis: 390px;
  }
}

.toolbar-spacer {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.brand-logo {
  background: url('/static/img/cg-logo.svg') no-repeat center;
  background-size: 100% 70%;
  color: transparent;
  cursor: pointer;
  height: 100%;
  width: 250px;
}
