<md-toolbar>
    <span class="toolbar-menu">
        <span class="hide-on-small-only">
            <a md-button routerLink="/blog" routerLinkActive="active">Blog</a>
        </span>
        <span class="hide-on-med-and-up">
            <a md-icon-button routerLink="/blog" routerLinkActive="active">
                <md-icon>view_agenda</md-icon>
            </a>
        </span>
    </span>
    <span class="toolbar-spacer"></span>
    <a routerLink="/map" routerLinkActive="active" class="brand-logo">CrowdgezwitscherMap</a>
    <span class="toolbar-spacer"></span>
    <span class="toolbar-menu">
        <span class="hide-on-med-and-up">
            <button id="toolbar-menu-button-small" md-icon-button [md-menu-trigger-for]="menuSmall">
                <md-icon>more_vert</md-icon>
            </button>
        </span>
        <span class="hide-on-small-only hide-on-large-only">
            <a md-button routerLink="/contact" routerLinkActive="active">Kontakt</a>
            <a md-button routerLink="/support" routerLinkActive="active">Unterstützen</a>
            <button id="toolbar-menu-button-medium" md-icon-button [md-menu-trigger-for]="menuMedium">
                <md-icon>more_vert</md-icon>
            </button>
        </span>
        <span class="hide-on-med-and-down">
            <a md-button routerLink="/contact" routerLinkActive="active">Kontakt</a>
            <a md-button routerLink="/support" routerLinkActive="active">Unterstützen</a>
            <a md-button routerLink="/about" routerLinkActive="active">Über uns</a>
            <a md-button routerLink="/imprint" routerLinkActive="active">Impressum</a>
        </span>
    </span>
</md-toolbar>
<md-menu x-position="before" #menuSmall="mdMenu">
    <a md-menu-item routerLink="/contact" routerLinkActive="active">Kontakt</a>
    <a md-menu-item routerLink="/support" routerLinkActive="active">Unterstützen</a>
    <a md-menu-item routerLink="/about" routerLinkActive="active">Über uns</a>
    <a md-menu-item routerLink="/imprint" routerLinkActive="active">Impressum</a>
</md-menu>
<md-menu x-position="before" #menuMedium="mdMenu">
    <a md-menu-item routerLink="/about" routerLinkActive="active">Über uns</a>
    <a md-menu-item routerLink="/imprint" routerLinkActive="active">Impressum</a>
</md-menu>
<router-outlet></router-outlet>
