<div class="container">
    <div class="event-container" *ngIf="event">
        <h1>{{ event.name }}
            <span class="small">
                <span *ngIf="event.date">{{ event.date | date: 'dd.MM.yyyy' }},</span>
                <span>{{ event.location }}</span>
            </span>
        </h1>
        <p *ngIf="event.repetitionCycle">
            <strong>Wiederholungszyklus:</strong> {{event.repetitionCycle}}
        </p>
        <p *ngIf="event.organizer">
            <strong>Organisator:</strong> {{event.organizer}}
        </p>
        <p *ngIf="event.participants">
            <strong>Teilnehmer:</strong> {{event.participants}}
        </p>
        <p *ngIf="event.type">
            <strong>Art:</strong> {{event.type}}
        </p>
        <p *ngIf="event.counterEvent">
            <strong>Gegenveranstaltung:</strong>
            <span *ngIf="event.counterEvent">Ja</span>
            <span *ngIf="!event.counterEvent">Nein</span>
        </p>
        <div *ngIf="event.attachments">
            <strong>Anhänge:</strong>
            <div class="attachment-container">
                <a href="{{attachment.url}}" target="_blank" *ngFor="let attachment of event.attachments">
                    <md-card class="attachment" *ngIf="attachment.description" md-tooltip="{{attachment.description}}" tooltip-position="below">
                        <img md-card-image src="{{attachment.thumbnail_url}}">
                        <md-card-content>{{attachment.name}}</md-card-content>
                    </md-card>
                    <md-card class="attachment" *ngIf="!attachment.description">
                        <img md-card-image src="{{attachment.thumbnail_url}}">
                        <md-card-content>{{attachment.name}}</md-card-content>
                    </md-card>
                </a>
            </div>
        </div>
        <br>
        <span *ngIf="event.coverage">
            <div *ngIf="!twttrIsBlocked">
                <a md-raised-button class="refresh-button" (click)="onRefresh()">Refresh Twitter-Feed</a>
                <cg-tweet *ngFor="let tweetId of tweetIds" [id]="tweetId"></cg-tweet>
                <md-card *ngIf="tweetIds !== null && (tweetIds)?.length == 0">Berichterstattung geplant.</md-card>
            </div>
            <md-card class="error-message" *ngIf="twttrIsBlocked">
                <md-content>
                    <p>Leider wird unser Twitter-Feed blockiert.</p>
                    <p>(zum Beispiel durch ein Browser-AddOn wie AdBlocker)</p>
                </md-content>
            </md-card>
        </span>
        <md-card *ngIf="!event.coverage">
            Keine Berichterstattung geplant.
        </md-card>
    </div>
    <md-card class="error-message" *ngIf="errorMessage">
        <md-content>{{errorMessage}}</md-content>
    </md-card>
</div>
