<div class="container event-container">
    <div *ngIf="event">
        <h1>{{ event.name }}
            <span class="small">
                <span *ngIf="event.date">{{ event.date | date: 'dd.MM.yyyy' }},</span>
                <span>{{ event.location }}</span>
            </span>
        </h1>
        <p *ngIf="event.repetitionCycle">
            <strong>Wiederholungszyklus:</strong> {{event.repetitionCycle}}
        </p>
        <p *ngIf="event.organizer">
            <strong>Organisator:</strong> {{event.organizer}}
        </p>
        <p *ngIf="event.participants">
            <strong>Teilnehmer:</strong> {{event.participants}}
        </p>
        <p *ngIf="event.type">
            <strong>Art:</strong> {{event.type}}
        </p>
        <p *ngIf="event.counterEvent">
            <strong>Gegenveranstaltung:</strong> {{event.counterEvent}}
        </p>
        <div>
            <cg-tweet *ngFor="let tweetId of tweetIds | async" [id]="tweetId"></cg-tweet>
        </div>
    </div>
</div>
<md-card class="error-message" *ngIf="errorMessage">
    <span>{{errorMessage}}</span>
    <button md-icon-button (click)="clearError()">
        <md-icon>clear</md-icon>
    </button>
</md-card>
