@import '../../colors';

$foreground: map-get($theme, foreground);

.error-message {
  background-color: map-get($message, error);
}

.event-container {
  color: map-get($foreground, text);
  text-align: center;

  h1 {
    font-size: 3em;

    .small {
      color: map-get($foreground, secondary-text);
      font-size: .6em;
      font-weight: 500;
    }
  }

  .refresh-button {
    margin-bottom: 16px;
  }
}

.attachment-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: left;
}

.attachment-wrapper {
  text-decoration: none;

  .attachment {
    flex: none;
    margin: 8px;
  }

  img {
    min-width: 112px;
    object-fit: cover;
    padding-left: 8px;
  }

  &.without-description {
    .attachment {
      height: 96px;
      width: 96px;
    }

    img {
      border-radius: 2px;
      padding-left: 0;
    }
  }
}
