@import '../../colors';

$foreground: map-get($theme, foreground);

.error-message {
  background-color: map-get($message, error);
}

.event-container {
  color: map-get($foreground, text);
  text-align: center;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 3em;

    .small {
      color: map-get($foreground, secondary-text);
      font-size: .6em;
      font-weight: 500;
    }
  }

  .refresh-button {
    margin-bottom: 16px;
  }
}

.attachment-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .attachment {
    flex: none;
    margin: 8px;
    width: 132px;

    img {
      height: 150px;
      object-fit: cover;
    }
  }
}
