@import '../colors';

$foreground: map-get($theme, foreground);

.blog-entry {
  margin: 32px auto;

  .blog-entry-content {
    p {
      text-align: justify;
    }

    li {
      text-align: justify;
    }

    a {
      color: map-get($foreground, text);
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
