<div class="container">
    <md-card class="blog-entry">
        <md-card-title>#crowdgezwitscher geht online</md-card-title>
        <md-card-subtitle>von Straßengezwitscher e.V. am 08.10.2016</md-card-subtitle>
        <md-card-content class="blog-entry-content">
            <p>Es ist soweit. Acht Monate nach dem Ende der erfolgreichen Crowdfunding-Kampagne geht pünktlich zum 2gather-Kongress gegen Rassismus und Fremdenfeindlichkeit am 8./9. Oktober 2016 eine erste Version der #crowdgezwitscher-Plattform online!</p>

            <h2>Die Premiere</h2>
            <p>Im Rahmen des Workshops „Partizipativer Journalismus“ werden die beiden Straßengezwitscher-Gründer Alexej Hock und Johannes Filous die Plattform auf dem Kongress vorstellen und erläutern. Im Anschluss daran werden neue Möglichkeiten der Einbindung von Bürgerinnen und Bürgern in die Berichterstattung über rechtspopulistische und -radikale Bewegungen in Sachsen diskutiert und erarbeitet. <a href="https://strassengezwitscher.de/2gather/" target="_blank">Hier</a> geht es zur Programmübersicht und zum Ticketverkauf. Wir freuen uns auf Ihr Kommen!</p>

            <h2>Die Plattform</h2>

            <p>#crowdgezwitscher ist ein Netzwerk von mobilen Reporterinnen und Reportern, die unter Einhaltung von journalistischen Standards über Twitter Liveticker von fremdenfeindlichen Kundgebungen in Sachsen anbieten. Dabei wollen wir ausdrücklich auch den Bürgerjournalismus fördern. Die Informationsplattform bietet neben einer zuverlässigen Liveberichterstattung auch thematisch verwandte Artikel an und erklärt Zusammenhänge. Somit ist #crowdgezwitscher auch für Journalistinnen und Journalisten außerhalb Sachsens eine erste Anlaufstelle für Recherchen auf dem Gebiet der rechten Szene.</p>

            <p>Die Informationsplattform wird schrittweise veröffentlicht und bis voraussichtlich zum Jahresende mit allen Funktionen, die in der Crowdfunding-Projektbeschreibung aufgeführt sind, ausgestattet sein. In diesem ersten Blogeintrag möchten wir die Möglichkeiten der ersten Version erläutern.</p>

            <h2>Was möglich ist</h2>

            <p>Die kartenbasierte Nutzeransicht ermöglicht es, sich unterschiedliche thematische Ebenen einzublenden. Diese sind in der aktuellen Version einerseits rechte Versammlungen der letzten beiden Jahre. Hierbei können wir mit freundlicher Unterstützung des Archivs <a href="http://rechtes-sachsen.de" target="_blank">rechtes-sachsen.de</a> auch die Daten des Jahres 2015 anbieten. Aktuelle und anstehende Versammlungen können separat angewählt werden und werden farbtechnisch gekennzeichnet.</p>

            <p>Andererseits verorten wir rechte Facebook-Seiten mit Fokus auf der Asylthematik. Beide Ebenen können gleichzeitig eingeblendet werden. Mit Klick auf die Pins öffnet sich jeweils links eine Info-Box. Möchte man mehr Informationen erfahren, gelangt man über „Mehr Infos“ auf einer separaten Seite. Hier lässt sich beispielweise die zugehörige Berichterstattung über den offiziellen Straßengezwitscher-Twitteraccount nachverfolgen oder Zusammenhänge und weitere Zusatzinformationen nachlesen.</p>

            <p>In der ersten Version erfolgt die Berichterstattung durch offizielle Straßengezwitscher-Accounts sowie Twitter-Accounts, die mit den Grundregeln von Straßengezwitscher vertraut sind und diese akzeptieren und einhalten.</p>

            <p>Die Kontaktaufnahme erfolgt ausschließlich PGP-verschlüsselt. Sollten Sie als Journalistin oder Journalist Interesse an weiteren, nicht veröffentlichten Details haben, so klicken Sie die entsprechende Checkbox an. Wenn Sie über sensibles Material verfügen, das uns bei der Recherche weiterhilft, so gibt es auch dafür eine eigene Checkbox. In diesem Falle gelangt die Mail ausschließlich an unsere Rechercheabteilung.</p>

            <h2>Was noch nicht möglich ist</h2>

            <p>Das Kontaktformular ist bisher die einzige Möglichkeit, uns Hinweise für rechte Versammlungen oder Facebookseiten zukommen zu lassen. Das Hinzufügen über ein entsprechendes Formular auf  der Startseite wird erst in einem der weiteren Schritte freigeschaltet.</p>

            <p>Nach Evaluation der ersten Wochen Laufzeit werden weitere Funktionen ergänzt wie beispielsweise das Gruppieren von Symbolen auf der Karte oder das Bereitstellen von aktuellen Statistiken der Facebook-Seiten.</p>

            <p>Es bleibt zu beachten, dass kein Anspruch auf Vollständigkeit der Auflistung besteht. Die Plattform lebt von der Interaktion und so hoffen wir auf Zuarbeit. Anregungen und sind ebenfalls und vor allem in der ersten Phase sehr erwünscht.</p>

            <h2>Wer programmiert die Plattform?</h2>

            <p>Ein großer Dank geht an die Programierer, die in zahlreichen nächtlichen Stunden an der Plattform gebastelt haben und etwas geschaffen haben, das nicht nur <a href="https://github.com/Strassengezwitscher/Strassengezwitscher/" target="_blank">für alle zugänglich und nachvollziehbar</a> ist, sondern nachhaltig ist und auf weitere Themenschwerpunkte ausgeweitet werden kann.</p>

            <p>Benji, Chris, Jan, Matze und Max sind fünf IT-System Ingenieure aus Potsdam und Berlin. Sie haben nicht nur Spaß daran zusammen komplexe Systeme zu entwerfen, sondern stehen auch ganz eindeutig hinter dem Grundgedanken des Straßengezwitscher e.V., gegen Rassismus und Fremdenfeindlichkeit. Das Crowdgezwitscher-Projekt gibt ihnen die Möglichkeit ihre technischen Fähigkeiten für eine gute und wichtige Sache einzusetzen, um so auf lange Sicht einen kleinen Beitrag für eine tolerante und offene Gesellschaft zu leisten.</p>

            <h2>Was es sonst noch zu sagen gibt</h2>

            <p>Die Informationsplattform ist eines der Projekte des neu gegründeten Straßengezwitscher e.V. Über den Menüpunkt „<a href="https://strassengezwitscher.de/about/" target="_blank">Über uns</a>“ gelangen Sie zu einer Übersicht über die Tätigkeiten des Vereins. Wir freuen uns, wenn Sie unsere laufende Arbeit durch eine Spende unterstützen. Vor allem für die Berichterstattung über Twitter entstehen immer wieder hohe Kosten wie etwa für die Buchung von Datenoptionen. Gerne würden wir auch unsere Redaktionen mit Arbeitshandys ausstatten.</p>

            <h2>Dankeschön</h2>

            <p>Wir uns bei all den vielen Menschen bedanken, die uns auf dem Weg hierher mit viel Rat und aufbauenden Worten zur Seite gestanden haben.</p>

            <p>#crowdgezwitscher wurde durch Spenden zahlreicher Unterstützer unseres <a href="https://www.startnext.com/strassengezwitscher/" target="_blank">Crowdfunding-Projekts</a> beim gemeinnützigen Recherchezentrum <a href="https://correctiv.org" target="_blank">Correctiv.org</a> und <a href="https://www.startnext.com" target="_blank">Startnext</a> ermöglicht. Wir möchten uns bei allen Menschen bedanken, die uns auf dem Wege bis hierher mit moralischer und finanzieller Unterstützung begleitet haben.</p>

            <p>Ein persönlicher Dank geht an Oliver von Dobrowolski, Anna-Maria Wagner, Anne Konrad, Jannis Engel, Piratenpartei Sachsen, Jürgen Klack, Dietrich Koch, Sven Jansen, Felix Herzog, Trang Dang, Christian Löffler, Robin Drexler, Anne Weiß, Johannes Petzoldt, Pamela Vogel, Stefan Herrmann, Dr. Michael Kuhn, Matthias Geukes, Steffen Peschel, Johannes Petroschke, Claudia Neumann, Julia Welsch, Robert Morawitz, Klaus Becker und Albrecht Häußler.</p>
        </md-card-content>
    </md-card>
</div>
