@import '../colors';

$foreground: map-get($theme, foreground);

.blog-entry {
  margin: 32px auto;

  .blog-entry-content {
    p {
      text-align: justify;
    }

    a {
      color: map-get($foreground, text);
      font-weight: bold;
      text-decoration: none;
    }
  }
}
