{% extends "admin.html" %}

{% block content %}

<h1>{{ event.name }}</h1>
<ul>
    <li><b>Aktiv:</b> {{ event.active }}</li>
    <li><b>Position:</b> {{ event.location_lat }} {{ event.location_long }}</li>
    <li><b>Tag:</b> {{ event.date }}</li>
    <li><b>Zyklus:</b> {{ event.repetition_cycle }}</li>
    <li><b>Organizator:</b> {{ event.organizer }}</li>
    <li><b>Typ:</b> {{ event.type }}</li>
    <li><b>Link:</b> {{ event.url }}</li>
    <li><b>Gegenveranstaltung:</b> {{ event.counter_event }}</li>
    <li><b>Berichterstattung:</b> {{ event.coverage }}</li>
    <li><b>Facebook-Seiten:</b>
        <ul>
            {% for page in event.facebook_pages.all %}
                <li>
                {% if perms.facebook.view_facebookpage %}
                    <a href="{% url 'facebook:detail' page.id %}">{{ page.name }}</a>
                {% else %}
                    {{ page.name }}
                {% endif %}
                </li>
            {% empty %}
                <li>Keine Facebook-Seiten verknüpft</li>
            {% endfor %}
        </ul>
    </li>
</ul>

{% if perms.events.change_event %}
    <a class="btn btn-primary" href="{% url 'events:update' event.id %}">Bearbeiten</a>
{% endif %}
{% if perms.events.view_event %}
    <a class="btn btn-link" href="{% url 'events:list' %}">Zurück</a>
{% endif %}

{% endblock %}
