{% extends "admin.html" %}

{% block content %}

<h1>{{ event.name }}</h1>
<ul>
    <li><b>Aktiv:</b> {{ event.active }}</li>
    <li><b>Position:</b> {{ event.location_lat }} {{ event.location_long }} {% if event.location %}({{ event.location }}){% endif %}</li>
    <li><b>Tag:</b> {{ event.date }}</li>
    <li><b>Zyklus:</b> {{ event.repetition_cycle }}</li>
    <li><b>Organizator:</b> {{ event.organizer }}</li>
    <li><b>Typ:</b> {{ event.type }}</li>
    <li><b>Link:</b> {{ event.url }}</li>
    <li><b>Teilnehmer:</b> {{ event.participants }}</li>
    <li><b>Gegenveranstaltung:</b> {{ event.counter_event }}</li>
    <li><b>Berichterstattung:</b> {{ event.coverage }}
        <ul>
            <li>Twitter:
                <ul>
                    <li>Accountname: {{ event.twitter_account_names }}</li>
                    <li>Hashtags: {{ event.twitter_hashtags }}</li>
                </ul>
            </li>
            <li>Start: {{ event.coverage_start }}</li>
            <li>End: {{ event.coverage_end }}</li>
        </ul>
    </li>
    <li><b>Facebook-Seiten:</b>
        <ul>
            {% for page in event.facebook_pages.all %}
                <li>
                {% if perms.facebook.view_facebookpage %}
                    <a href="{% url 'facebook:detail' page.id %}">{{ page.name }}</a>
                {% else %}
                    {{ page.name }}
                {% endif %}
                </li>
            {% empty %}
                <li>Keine Facebook-Seiten verknüpft</li>
            {% endfor %}
        </ul>
    </li>
    <li><b>Anhänge:</b>
        <ul>
            {% for attachment in event.attachments.all %}
                <li>
                <a href="{{ MEDIA_URL }}{{ attachment.attachment }}">
                    {{ attachment.name }}
                </a>
                <ul>
                    <li>Öffentlich: {{ attachment.public }}</li>
                    {% if attachment.thumbnail %}
                        <li>
                            <a href="{{ MEDIA_URL }}{{ attachment.attachment }}">
                                <img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/>
                            </a>
                        </li>
                    {% endif %}
                    {% if attachment.description %}
                        <li>Beschreibung: {{ attachment.description }}</li>
                    {% endif %}
                </ul>
                </li>
            {% empty %}
               <li>Keine Anhänge vorhanden</li>
            {% endfor %}
        </ul>
    </li>
</ul>

{% if perms.events.change_event %}
    <a class="btn btn-primary" href="{% url 'events:update' event.id %}">Bearbeiten</a>
{% endif %}
{% if perms.events.view_event %}
    <a class="btn btn-link" href="{% url 'events:list' %}">Zurück</a>
{% endif %}

{% endblock %}
