{% extends "admin.html" %}

{% block header %}
{{ form.media }}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.name.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                <input id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text" class="form-control" value="{{ form.name.value }}">
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.active.errors }}
            <label class="hidden-xs"></label>
            <div class="checkbox">
                <label>
                    {{ form.active }}
                    {{ form.active.label }}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.location_long.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.location_long.id_for_label }}">{{ form.location_long.label }}</label>
                <input id="{{ form.location_long.id_for_label }}" name="{{ form.location_long.html_name }}" type="number" class="form-control" value="{{ form.location_long.value }}">
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.location_lat.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.location_lat.id_for_label }}">{{ form.location_lat.label }}</label>
                <input id="{{ form.location_lat.id_for_label }}" name="{{ form.location_lat.html_name }}" type="number" class="form-control" value="{{ form.location_lat.value }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.date.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.date.id_for_label }}">{{ form.date.label }} (YYYY-MM-DD)</label>
                <input id="{{ form.date.id_for_label }}" name="{{ form.date.html_name }}" type="text" class="form-control" value="{{ form.date.value|date:"Y-m-d" }}">
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.repetition_cycle.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.repetition_cycle.id_for_label }}">{{ form.repetition_cycle.label }}</label>
                <input id="{{ form.repetition_cycle.id_for_label }}" name="{{ form.repetition_cycle.html_name }}" type="text" class="form-control" value="{{ form.repetition_cycle.value }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.organizer.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.organizer.id_for_label }}">{{ form.organizer.label }}</label>
                <input id="{{ form.organizer.id_for_label }}" name="{{ form.organizer.html_name }}" type="text" class="form-control" value="{{ form.organizer.value }}">
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.type.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                <input id="{{ form.type.id_for_label }}" name="{{ form.type.html_name }}" type="text" class="form-control" value="{{ form.type.value }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.counter_event.errors }}
            <div class="checkbox">
                <label>
                    {{ form.counter_event }}
                    {{ form.counter_event.label }}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.coverage.errors }}
            <div class="checkbox">
                <label>
                    {{ form.coverage }}
                    {{ form.coverage.label }}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.twitter_account_names.errors }}
            <div class="form-group">
                {{ form.twitter_account_names.label_tag }}
                {{ form.twitter_account_names }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.twitter_hashtags.errors }}
            <div class="form-group">
                {{ form.twitter_hashtags.label_tag }}
                {{ form.twitter_hashtags }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.coverage_start.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.coverage_start.id_for_label }}">{{ form.coverage_start.label }} (YYYY-MM-DD)</label>
                <input id="{{ form.coverage_start.id_for_label }}" name="{{ form.coverage_start.html_name }}" type="text" class="form-control" value="{{ form.coverage_start.value|date:"Y-m-d" }}">
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.coverage_end.errors }}
            <div class="form-group">
                <label class="control-label" for="{{ form.coverage_end.id_for_label }}">{{ form.coverage_end.label }} (YYYY-MM-DD)</label>
                <input id="{{ form.coverage_end.id_for_label }}" name="{{ form.coverage_end.html_name }}" type="text" class="form-control" value="{{ form.coverage_end.value|date:"Y-m-d" }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.facebook_pages.errors }}
            <div class="form-group">
                {{ form.facebook_pages.label_tag }}
                {{ form.facebook_pages }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if perms.event.add_event %}
                <input class="btn btn-primary" type="submit" value="Speichern" role="button">
            {% endif %}
            {% if perms.event.view_event %}
                <a class="btn btn-link" href="{% url 'events:list' %}">Zurück</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
