{% extends "admin.html" %}

{% block header %}
{{ form.media }}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.name.errors }}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.active.errors }}
            <label class="hidden-xs"></label>
            <div class="checkbox">
                <label>
                    {{ form.active }}
                    {{ form.active.label }}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{ form.location_long.errors }}
            <div class="form-group">
                {{ form.location_long.label_tag }}
                {{ form.location_long }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {{ form.location_lat.errors }}
            <div class="form-group">
                {{ form.location_lat.label_tag }}
                {{ form.location_lat }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-12 col-md-4 col-lg-4">
            {{ form.location.errors }}
            <div class="form-group">
                {{ form.location.label_tag }}
                {{ form.location }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.date.errors }}
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.repetition_cycle.errors }}
            <div class="form-group">
                {{ form.repetition_cycle.label_tag }}
                {{ form.repetition_cycle }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.organizer.errors }}
            <div class="form-group">
                {{ form.organizer.label_tag }}
                {{ form.organizer }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.type.errors }}
            <div class="form-group">
                {{ form.type.label_tag }}
                {{ form.type }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.url.errors }}
            <div class="form-group">
                {{ form.url.label_tag }}
                {{ form.url }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.participants.errors }}
            <div class="form-group">
                {{ form.participants.label_tag }}
                {{ form.participants }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.counter_event.errors }}
            <div class="checkbox">
                <label>
                    {{ form.counter_event }}
                    {{ form.counter_event.label }}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.coverage.errors }}
            <div class="checkbox">
                <label>
                    {{ form.coverage }}
                    {{ form.coverage.label }}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.twitter_account_names.errors }}
            <div class="form-group">
                {{ form.twitter_account_names.label_tag }}
                {{ form.twitter_account_names }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.twitter_hashtags.errors }}
            <div class="form-group">
                {{ form.twitter_hashtags.label_tag }}
                {{ form.twitter_hashtags }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.coverage_start.errors }}
            <div class="form-group">
                {{ form.coverage_start.label_tag }}
                {{ form.coverage_start }}
            </div>
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form.coverage_end.errors }}
            <div class="form-group">
                {{ form.coverage_end.label_tag }}
                {{ form.coverage_end }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form.facebook_pages.errors }}
            <div class="form-group">
                {{ form.facebook_pages.label_tag }}
                {{ form.facebook_pages }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if perms.events.add_event %}
                <input class="btn btn-primary" type="submit" value="Speichern" role="button">
            {% endif %}
            {% if perms.events.view_event %}
                <a class="btn btn-link" href="{% url 'events:list' %}">Zurück</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
