<div class="container">
	<h1>Kontakt</h1>

	<md-card class="contact-card contact-card-success" *ngIf="contactSuccessMessage">
		<md-card-content>
			<span>{{contactSuccessMessage}}</span>
		</md-card-content>
		<md-card-actions>
			<button md-button routerLink="/map" >Zurück zur Startseite</button>
			<button md-button (click)="resetContactForm()">Neue Nachricht</button>
		</md-card-actions>
	</md-card>

	<md-card class="contact-card contact-card-error" *ngIf="contactErrorMessage">
		<span>{{contactErrorMessage}}</span>
		<button md-icon-button class="clear-button" (click)="clearError()">
			<md-icon>clear</md-icon>
		</button>
	</md-card>

	<form *ngIf="!contactSuccessMessage" id="contact-form" #contactForm="ngForm">
		<table style="width: 100%" cellspacing="0">
			<tr>
				<td style="width: 50%">
					<md-input-container dividerColor="accent" style="width: 100%">
						<input md-input id="contact-name" placeholder="Name" name="name" maxlength="50" [(ngModel)]="contact.name">
					</md-input-container>
				</td>
				<td style="width: 50%">
					<md-input-container dividerColor="accent" style="width: 100%">
						<input md-input id="contact-email" placeholder="Email" type="email" name="email" [(ngModel)]="contact.email">
					</md-input-container>
				</td>
			</tr>
		</table>
		<md-input-container dividerColor="accent" style="width: 100%">
			<input md-input id="contact-subject" placeholder="Betreff" name="subject" required [(ngModel)]="contact.subject" dividerColor="accent" style="width: 100%">
		</md-input-container>
		<md-input-container dividerColor="accent" style="width: 100%">
			<textarea md-input id="contact-message" placeholder="Nachricht" name="message" required [(ngModel)]="contact.message" style="resize: vertical;"></textarea>
		</md-input-container>

		<table style="width: 100%" cellspacing="0">
			<tr>
				<td style="width: 50%">
					<md-checkbox id="contact-journalist" name="journalist" [(ngModel)]="contact.journalist">Sind Sie Journalist?</md-checkbox>
					<br>
					<md-checkbox id="contact-confidential" name="confidential" [(ngModel)]="contact.confidential">
						Ihre Nachricht enthält sensible Informationen?
						<md-icon style="font-size:16px;" mdTooltip="Die Nachricht wird verschlüsselt und direkt an unsere Rechercheabteilung geleitet." mdTooltipPosition="below">info</md-icon>
					</md-checkbox>
				</td>
				<td style="width: 50%">
					<label for="contact-file" md-raised-button>Anhang</label>
					<input id="contact-file" name="file" type="file" (change)="onFileChange($event)" multiple hidden>
					{{ fileInputNames || "Wählen Sie Dateien als Anhang" }}
				</td>
			</tr>
		</table>
		<br>
		<p>* Pflichtfelder</p>

		<br>
		<table style="width: 100%" cellspacing="0">
			<tr>
				<td style="width: 30px">
					<md-icon>info_outline</md-icon>
				</td>
				<td>
					Ihre valide Nachricht wird immer PGP-verschlüsselt an uns übertragen. Um eine verschlüsselte Antwort zu erhalten, fügen Sie bitte der Nachricht Ihren eigenen GPG Public Key als Anhang hinzu.
				</td>
			</tr>
		</table>
		<br>

		<div id="contact-recaptcha" class="g-recaptcha" [attr.data-sitekey]="config.dataSitekey" data-callback="verifyCallback"></div>

		<p>
			<button md-raised-button id="contact-submit-button" (click)="onSubmit()" type="button" [disabled]="!(contactForm.form.valid && filesValid && captchaVerified)" color="accent">Senden</button>
		</p>
	</form>
</div>
