@import '../colors';

.contact-card {
  margin-bottom: 16px;

  md-card-content {
    white-space: pre-line;
  }
}

.contact-card-success {
  background-color: map-get($message, success);
}

.contact-card-error {
  background-color: map-get($message, error);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .clear-button {
    margin: -10px 0 -12px;
  }
}
