<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Strassengezwitscher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <style type="text/css">
            html, body {
                width: 100%;
                height: 100%;
            }
        </style>

        {% block header_extension %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        {% block script_extension %}
        {% endblock %}
    </body>
</html>