<md-card class="event-card" *ngIf="event">
    <button md-icon-button class="close-button" (click)="close()">
        <md-icon>clear</md-icon>
    </button>
    <md-card-title>{{event.name}}</md-card-title>
    <md-card-subtitle>{{event.location}}</md-card-subtitle>
    <md-card-content>
        <p *ngIf="event.date">
            <strong>Datum:</strong><br>
            {{dateFormat(event.date)}}
            <span *ngIf="event.time">- {{ event.time }}</span>
        </p>
        <p *ngIf="event.organizer">
            <strong>Organisator:</strong><br>
            {{event.organizer}}
        </p>
        <p *ngIf="event.participants">
            <strong>Teilnehmer:</strong><br>
            {{event.participants}}
        </p>
        <p *ngIf="event.type">
            <strong>Art:</strong><br>
            {{event.type}}
        </p>
        <p *ngIf="event.counterEvent">
            <strong>Gegenveranstaltung:</strong><br>
            <span *ngIf="event.counterEvent">Ja</span>
            <span *ngIf="!event.counterEvent">Nein</span>
        </p>
        <p >
            <strong>Berichterstattung:</strong><br>
            <span *ngIf="event.coverage">Ja (Twitter-Feed)</span>
            <span *ngIf="!event.coverage">Nein</span>
        </p>
    </md-card-content>
    <md-card-actions>
        <a md-button routerLink="/events/{{event.id}}">Mehr Infos</a>
    </md-card-actions>
</md-card>
