{% extends "admin.html" %}

{% block content %}

<h1>{{ page.name }}</h1>
<ul>
    <li><b>Aktiv:</b> {{ page.active }}</li>
    <li><b>Position:</b> {{ page.location_lat }} {{ page.location_long }} {% if page.location %}({{ page.location }}){% endif %}</li>
    <li><b>Link:</b> {{ page.url }}</li>
    <li><b>Veranstaltungen:</b>
        <ul>
            {% for event in page.events.all %}
            <li>
                {% if perms.events.view_event %}
                    <a href="{% url 'events:detail' event.id %}">{{ event }}</a>
                {% else %}
                    {{ event }}
                {% endif %}
            </li>
            {% empty %}
            <li>Keine Veranstaltungen verknüpft</li>
            {% endfor %}
        </ul>
    </li>
    <li><b>Notizen:</b> {{ page.notes | linebreaks }}</li>
    <li><b>Interne Notizen:</b> {{ page.internal_notes | linebreaks }}</li>
</ul>

{% if perms.facebook.change_facebookpage %}
    <a class="btn btn-primary" href="{% url 'facebook:update' page.id %}">Bearbeiten</a>
{% endif %}
{% if perms.facebook.view_facebookpage %}
    <a class="btn btn-link" href="{% url 'facebook:list' %}">Zurück</a>
{% endif %}

{% endblock %}
