{% extends "admin.html" %}

{% load bootstrap_tags %}

{% block header %}
{{ form.media }}
{% endblock%}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    {% bootstrap_error_list form.non_field_errors %}
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {% bootstrap_field form.name %}
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {% bootstrap_checkbox form.active %}
        </div>
    </div>
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {% bootstrap_field form.location_lat %}
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
            {% bootstrap_field form.location_long %}
        </div>
        <div class="fieldWrapper col-xs-12 col-sm-12 col-md-4 col-lg-4">
            {% bootstrap_field form.location %}
        </div>
    </div>
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% bootstrap_field form.notes %}
        </div>
    </div>
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% bootstrap_field form.internal_notes %}
        </div>
    </div>
    <div class="row">
        <div class="fieldWrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% bootstrap_field form.events %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if perms.facebook.add_facebookpage %}
                <input class="btn btn-primary" type="submit" value="Speichern" role="button">
            {% endif %}
            {% if perms.facebook.view_facebookpage %}
                <a class="btn btn-link" href="{% url 'facebook:list' %}">Zurück</a>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}
