{% extends "admin.html" %}

{% block content %}

<h1>Facebookseiten</h1>
{% if pages %}
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for page in pages %}
    <tr>
        <td>
            {% if perms.facebook.view_facebookpage %}
                <a href="{% url 'facebook:detail' page.id %}">{{ page.name }}</a>
            {% else %}
                {{ page.name }}
            {% endif %}
        </td>
        <td>{% if page.active %} aktiviert {% else %} deaktiviert {% endif %}</td>
        <td>
            {% if perms.facebook.change_facebookpage %}
                <a class="btn btn-default btn-sm" href="{% url 'facebook:update' page.id %}">Bearbeiten</a>
            {% endif %}
            {% if perms.facebook.delete_facebookpage %}
                <a class="btn btn-default btn-sm" href="{% url 'facebook:delete' page.id %}">Löschen</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No Facebook pages available.</p>
{% endif %}

{% if perms.facebook.add_facebookpage %}
    <a class="btn btn-primary" href="{% url 'facebook:create' %}">Facebook-Seite anlegen</a>
{% endif %}


{% endblock %}
