{% extends "admin.html" %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<ul>
    <li><b>Username:</b> {{ user.username }}</li>
    <li><b>Email:</b> {{ user.mail }}</li>
    <li><b>Active:</b> {{ user.is_active }}</li>
    <li><b>Rollen:</b>
        <ul>
            {% for group in user.groups.all %}
                <li>{{ group }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>

<a class="btn btn-link" href="{% url 'users:list' %}">Zurück</a>

{% endblock %}
